*{
    margin: 0%;
    box-sizing: border-box;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: darkmagenta;
    min-height: 5rem;
    padding: 1rem;
    padding-bottom: 1rem;
    font-size: 2rem;
    color: azure;
}
a{
    margin: 5px;
    text-decoration: none;
    color: azure;
}
.input{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}
input{
    margin: 1.5rem;
    padding: 0.5rem;
    width: 30%;
    min-width: 250px;
    font-size: 1rem;
}
label{
    font-size: 1.5rem;
}
button{
    padding: 0.5rem;
    font-size: 1.35rem;
    border-radius: 10px;
}
button:hover{
    background-color:aquamarine;
}
.output{
    text-align: center;
    margin-top: 1rem;
    font-size: 2rem;
}